@page
@{
	ViewData["Title"] = "Chat Room";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="overlay">
	<div class="username-div">
		<span class="title">Enter a username</span>
		<div>
			<input type="text" id="user-name" placeholder="Username" autofocus />
			<span id="error-message"></span>
		</div>
		<button id="set-user-name" disabled>Enter</button>
	</div>
</div>

<div id="container" class="blur">
	<div id="message-container" class="inner-container">
		<div class="navbar">
			<h1 class="title">Chat Room</h1>
		</div>
		<div id="message-div">
			<div id="message-list">
			</div>
		</div>
		<div id="send-message-container">
			<span>To: <span class="tool-tip"><span id="message-to">All</span><span class="tooltiptext">Click on the username to send private messages.</span></span> <i class="fa-regular fa-circle-xmark" id="cancel-selection"></i></span>
			<input type="text" id="message" placeholder="Enter message" />
			<button id="send-button"><i class="fa-sharp fa-solid fa-paper-plane"></i></button>
		</div>
	</div>

	<div id="user-container" class="inner-container">
		<div class="navbar">
			<h1 class="title">Active Users</h1>
		</div>
		<div id="user-div">
			<ul id="user-list">
			</ul>
		</div>
	</div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>