@page
@{
	ViewData["Title"] = "Chat Room";
}
<div class="container">
	<div class="row p-1">
		<div class="col-1">
			<label for="userName">User Name:</label>
		</div>
		<div class="col-5">
			<input type="text" id="userName" />
			<input type="button" id="setUserName" value="Set" />
		</div>
	</div>

	<div class="row p-1">
		<div class="col-1">
			<label for="receiverId">Receiver Name: </label>
		</div>
		<div class="col-6">
			<input type="text" id="receiverName" />
		</div>
	</div>

	<div class="row p-1">
		<div class="col-1">
			<label for="message">Message:</label>
		</div>
		<div class="col-5">
			<input type="text" id="message" required />
		</div>
	</div>

	<div class="row p-1">
		<div class="col-6">
			<input type="button" id="sendButton" value="Send" required />
		</div>
	</div>

	<div class="row p-1">
		<div class="col-6">
			<h5>Messages:</h5>
			<ul id="messagesList"></ul>
		</div>
	</div>

	<div class="row p-1">
		<div class="col-6">
			<h5>Active Users:</h5>
			<ul id="userList"></ul>
		</div>
	</div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>